.main{
	width: 982px;
	height: 1744px;
}

.g_warp{
	width: 980px;
	height: 1744px;
	border: 0px;
	padding: 40px;
}

.v_hd{
	width: 900px;
	height: 42px;
}


.v_hd h3 {
    float: left;
    font-size: 24px;
    font-weight: normal;
}

.nav_two_t {
	width: 100%;
	height: 35px;
	margin: 0 auto;
	background: #C20C0C;
	border-bottom: 1px solid #a40011;
}

.nav_two_ul_t {
	list-style: none;
	width: 750px;
	height: 35px;
	margin: auto;
}

.nav_two_ul_t li {
	float: left;
	width: 84px;
	height: 34px;
	text-align: center;
	line-height: 1.5;
	padding-right: 9px;
	font-size: 12px;
}

.nav_two_ul_t li a {
	color: #fff;
	padding: 0 13px;
	height: 20px;
	margin-top: 7px;
	display: inline-block;
}

.nav_two_ul_t li a:hover {
	height: 20px;
	border-radius: 20px;
	background: #9B0909;
}

.u-btn2{
	padding: 0 5px 0 0;
    white-space: nowrap;
    display: inline-block;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    background: #F7F7F7;
    border: solid 1px #C3C3C3;
    border-radius: 5px;
    margin-left: 10px;
}

.u-btn2:hover{
	background: rgba(225,225,225,0.4);
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.u-title .menu {
    font-size: 12px;
    font-weight: normal;
    margin: 2px 0 0 12px;
}

.u-btn2-1 {
    color: #333;
    background-position: right -100px;
}

.u-title .menu .u-icn-38 {
    margin-left: 5px;
}

.u-icn-38 {
    width: 8px;
    height: 5px;
    background: url(../img/icon.png);
    background-position: -70px -543px;
}

.u-icn, .u-icn2, .u-icn3 {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.menu p {
	font-size: 12px;
    color: #0c73c2 !important;
    padding: 0 10px 0 15px;
}

.u-btn-hot {
    width: 93px;
    height: 29px;
    background-position: 0 0;
}

.u-btn {
    display: inline-block;
    background: url(../img/rz.png) 0 0;
}

.f-fr {
    float: right;
    font-size: 12px;
}

.f-fr a:hover{
	text-decoration: underline;
}

.a1 {
    float: left;
    width: 46px;
    height: 29px;
    line-height: 29px;
    color: #fff;
    text-align: center;
}

.a2 {
    float: left;
    width: 46px;
    height: 29px;
    line-height: 29px;
    color: #333;
    text-align: center;
}

.m_cvrlst1{
	width: 950px;
	height: 1526px;
	margin: 30px 0 0 -50px;
	list-style: none;
}

.li_img {
    float: left;
    display: inline-block;
    width: 140px;
    height: 188px;
    padding: 0 0 30px 50px;
}

.dec{
	display: inline-block;
    max-width: 100%;
    height: 19px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    float: left;
}
.dec1{
	max-width: 76%;
	height: 19px;
	vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.m_span{
	float: left;
	margin-top: -20px;
	color: #999;
	width: 100%;
	font-size: 12px;
}

.dec1{
	font-size: 12px;
	margin-top: -20px;
	margin-left: 17px;
	color: #666;
	float: left;
}
.dec1:hover{
	text-decoration: underline;
}

.box_bg{
	width: 140px;
	height: 140px;
	position: relative;
	display: block;
}

.a_bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 140px;
	height: 140px;
	background: url(../img/three.png) 0 0;
}

#m-pl-pager{
	width: 900px;
	height: 26px;
}

.u-page {
    margin: 20px 0;
    text-align: center;
}

.js-disabled{
	display: block;
	cursor: pointer;
}

.zprv{
	width: 69px!important;
	color: #cacaca;
	font-size: 12px;
    cursor: default;
	background: url(../img/rz.png) 0 -620px;
}

.zbtn{
	width: 24px;
	height: 22px;
	margin: 0 1px 0 2px;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 12px;
    border-radius: 2px;
    line-height: 21.5px;
    vertical-align: middle;
}

.znxt{
	width: 71px;
	line-height: 24px;
	font-size: 12px;
    cursor: default;
    color: #333;
	background: url(../img/rz.png) -75px -560px;
}

.zbtn:hover{
	border: 1px solid #333;
}